<p>login works!</p>
<!--<form #loginDetForm="ngForm" (ngSubmit)=validate(loginDetForm) novalidate>
    <table>
        <tr>
            <td><label for="logid">Login: </label></td>
            <td><input type="text" name="logid" ngModel required></td>
        </tr>
        <tr>
            <td><label for="logpass">Password: </label></td>
            <td><input type="password" name="logpass" ngModel required> </td>
        </tr>
        
        <tr>
            <td><button type="submit" [disabled]="!loginDetForm.valid"> Login</button></td>
        </tr>
    </table>
</form>>
-->

<form (click)="onsubmit()">
    <table>
        <tr>

            <td>Login ID:<input type="text" name="logid" [(ngModel)]="logid" required></td>
        </tr>
        <tr>

            <td>Password: <input type="password" name="logpass" [(ngModel)]="logpass" required> </td>
        </tr>

        <tr>
            <td><button type="submit" [disabled]="!logid || !logpass"> Login</button></td>
        </tr>
    </table>
</form>

<div *ngIf="!check">{{err}}</div>