<p>search works!</p>
<button (click)="goHome()" class="btn btn-primary">
    Home
   </button> <br><br><hr>

<h1>Search the Category</h1>

<select name="category" [(ngModel)]="cat">
    <option *ngFor="let a of categories">
        {{a}}
    </option>
</select>
<button (click)="search()">Search</button>
<br><br>
<span> Product List <br>
    <table>
        <tr>
            <td>Product Id</td>
            <td>Product Name</td>
            <td>Product Price</td>
            <td>Product Category</td>
            <td>Index</td>
            <td>Delete Product</td>
            <td>Update Product</td>
        </tr>
        <tr *ngFor="let p of prodData; let i=index ">
            <td>{{p.prodid}}</td>
            <td>{{p.prodname}}</td>
            <td>{{p.price}}</td>
            <td>{{p.category}}</td>
            <td>{{i}}</td>
            <td><button (click)="deleteData(i)">Delete</button></td>
            <td><button (click)="editData(p.prodid)">Update</button> </td>
        </tr>
    </table>

</span>
